*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* "*" quer dizer que todos as tags vão ser usada nessa formatação */